.navbar {
    background-color: #ffffff;
    border-bottom: solid 5px #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    margin-left: 10%;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.container {
    background-color: #ffffff;
    border: solid 5px #dddddd;
    padding: 20px;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 3%;
}

footer {
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
    color: white;
    text-align: center;
    height: 50px;
    font-size: 12px;
    margin-top: 3%;
    bottom: 0;
    width: 100%;
}

.btn {
    background-color: #666666;
}